<!DOCTYPE html>
<html>

<head>
	<title>Page Title</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
	<link rel="stylesheet" href="/style.css">
	<script src="https://kit.fontawesome.com/5c16ef8200.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/js/bulma-extensions.min.js"></script>
	<link rel="stylesheet" href="https://cdn.rawgit.com/octoshrimpy/bulma-o-steps/master/bulma-steps.css">
	<script src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-steps/dist/js/bulma-steps.min.js"></script>
</head>

<body>
	<section class="hero is-primary is-bold">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
          Hypixel Collection
        </h1>
				<h2 class="subtitle">
          All 512 items™
        </h2>
			</div>
		</div>
	</section>
	<div class="columns" style="margin-bottom:0px;">
		<div class="column is-2" style="padding:30px;background-color:#209CEE;margin-top:10px;">
			<aside class="menu">
				<p class="menu-label">
				   Farming
				</p>
				<ul class="menu-list">
				   <li><a id="wheat" href="/items/farming/wheat/1">Wheat</a></li>
				   <li><a id="carrot" href="/items/farming/carrot/1">Carrots</a></li>
				   <li><a id="pumkin" href="/items/farming/pumkin/1">Pumpkin</a></li>
				   <li><a id="melon" href="/items/farming/melon/1">Melon</a></li>
				   <li><a id="seeds" href="/items/farming/seeds/1">Seeds</a></li>
				   <li><a id="mushroom" href="/items/farming/mushroom/1">Mushroom</a></li>
				   <li><a id="CocoaBeans" href="/items/farming/CocoaBeans/1">Cocoa Beans</a></li>
				   <li><a id="Cactus" href="/items/farming/Cactus/1">Cactus</a></li>
				</ul>
				<p class="menu-label">
				   Combat
				</p>
				<ul class="menu-list">
				   <li><a>Coming soon</a></li>
				</ul>
				<p class="menu-label">
				   Mining
				</p>
				<ul class="menu-list">
				   <li><a id="lapis" href="/items/mining/lapis/1">Lapis</a></li>
				</ul>
				<p class="menu-label">
				   Foraging
				</p>
				<ul class="menu-list">
				   <li><a>Coming soon</a></li>
				</ul>
				<p class="menu-label">
				   Fishing
				</p>
				<ul class="menu-list">
				   <li><a>Coming soon</a></li>
				</ul>
			 </aside>
		</div>
		<div class="column" style="padding:0px;margin-top:10px;background:#209CEE;">
			<div class="menu" style="padding:10px;background-color:#209CEE;">
				<nav class="breadcrumb" aria-label="breadcrumbs" style="color:white;">
					<ul>
						<li>
							<a href="#"> <span class="icon is-small">
                  <i class="fas fa-home" aria-hidden="true"></i>
                </span>
								<span>Home</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="selector">
				<div class="columns" style="margin-left:10px;margin-top:0px;padding-top:5%;">
					<div class="column is-9">
						<div class="columns" style="margin-left:10px;">
							<div class="column">
								<div class="item-img">
									<img src="/img/wheat.png">
								</div>
							</div>
							<div class="column">
								<div class="item-img">
									<img src="/img/diamond_sword.png">
								</div>
							</div>
							<div class="column">
								<div class="item-img">
									<img src="/img/Lapis_Lazuli.png">
								</div>
							</div>
						</div>
						<div class="columns" style="margin-left:10px;">
								<div class="column">
									<div class="item-img">
										<img src="/img/oak_log.png" width="200px">
									</div>
								</div>
								<div class="column">
									<div class="item-img">
										<img src="/img/fishing_rod.png">
									</div>
								</div>
					</div>
				</div>
					<div class="column" style="padding:30px;padding-left:0;padding-right:50px;">
						<article class="message">
							<div class="message-header">
								<p>Item Progress</p>
							</div>
							<div class="message-body">Farming:
								<progress class="progress is-primary" value="2" max="17">15%</progress>Combat:
								<progress class="progress is-danger" value="0" max="100">15%</progress>Mining:
								<progress class="progress is-primary" value="1" max="16">1</progress>Foraging:
								<progress class="progress is-danger" value="0" max="100">15%</progress>Fishing
								<progress class="progress is-danger" value="0" max="100">0%</progress>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer is-primary">
		<div class="content has-text-centered">
		  <p>
			<strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
			<a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
			is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
		  </p>
		</div>
	  </footer>
</body>

</html>