<!DOCTYPE html>
<html>
   <head>
      <title>Page Title</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
      <link rel="stylesheet" href="/style.css">
      <script src="https://kit.fontawesome.com/5c16ef8200.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/js/bulma-extensions.min.js"></script>
      <link rel="stylesheet" href="https://cdn.rawgit.com/octoshrimpy/bulma-o-steps/master/bulma-steps.css">
      <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-steps/dist/js/bulma-steps.min.js"></script>
   </head>
   <body>
      <section class="hero is-primary is-bold">
         <div class="hero-body">
            <div class="container">
               <h1 class="title">
                  <%= foo %>
               </h1>
               <h2 class="subtitle">
                  Farming
               </h2>
            </div>
         </div>
      </section>
      <div class="columns">
      <div class="column is-2" style="padding:30px;background-color:#209CEE;margin-top:10px;">
         <aside class="menu">
            <p class="menu-label">
               Farming
            </p>
            <ul class="menu-list">
               <li><a class="is-active">Wheat</a></li>
               <li><a>Carrots</a></li>
            </ul>
            <p class="menu-label">
               Mining
            </p>
            <ul class="menu-list">
               <li><a>Coming soon</a></li>
            </ul>
            <p class="menu-label">
               Combat
            </p>
            <ul class="menu-list">
               <li><a>Coming soon</a></li>
            </ul>
         </aside>
      </div>
      <div class="column" style="padding:0px;margin-top:10px;">
         <div class="menu" style="padding:10px;background-color:#209CEE;">
            <nav class="breadcrumb" aria-label="breadcrumbs">
               <ul>
                  <li>
                     <a href="/">
                     <span class="icon is-small">
                     <i class="fas fa-home" aria-hidden="true"></i>
                     </span>
                     <span>Home</span>
                     </a>
                  </li>
                  <li>
                     <a href="/farming">
                     <span class="icon is-small">
                     <i class="fas fa-farm" aria-hidden="true"></i>
                     </span>
                     <span>Farming</span>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                     <span class="icon is-small is-active">
                     <i class="fas fa-wheat" aria-hidden="true"></i>
                     </span>
                     <span>Wheat</span>
                     </a>
                  </li>
               </ul>
            </nav>
         </div>
         <div class="selector-farm">
            <ul class="steps is-medium is-centered has-content-centered" style="padding-top:10px;">
               <li class="steps-segment is-active">
                  <a href="#" class="has-text-dark">
                  <span class="steps-marker">
                  <span class="icon">
                  1
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment">
                  <a href="#" class="has-text-dark">
                  <span class="steps-marker">
                  <span class="icon">
                  2
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment">
                  <a href="#" class="has-text-dark">
                  <span class="steps-marker">
                  <span class="icon">
                  3
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment">
                  <a href="#" class="has-text-dark">
                  <span class="steps-marker">
                  <span class="icon">
                  4
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment">
                  <a href="#" class="has-text-dark">
                  <span class="steps-marker">
                  <span class="icon">
                  5
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment">
                  <a href="#" class="has-text-dark">
                  <span class="steps-marker">
                  <span class="icon">
                  6
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment">
                  <a href="#" class="has-text-dark">
                  <span class="steps-marker">
                  <span class="icon">
                  7
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment">
                  <a href="#" class="has-text-dark">
                  <span class="steps-marker">
                  <span class="icon">
                  8
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment">
                  <a href="#" class="has-text-dark">
                  <span class="steps-marker">
                  <span class="icon">
                  9
                  </span>
                  </span>
                  </a>
               </li>
            </ul>
            <br> 
            <!-- item wrapper -->
            <div class="item-wrapper">
               <div class="columns">
                  <div class="column is-4">
                     <div class="item-picture border-right">
                        <img src="https://gamepedia.cursecdn.com/minecraft_gamepedia/e/e2/Wheat.png"><br>
                        <h1 class="is-size-3 is-centered" style="color:white;">Tier 1</h1>
                     </div>
                  </div>
                  <div class="column">
                     <h1 class="is-size-3 is-centered" style="color:white;">Unlocks</h1>
                     <div class="columns">
                        <div class="column is-4">
                           <img class="item-picture-minion" src="/img/Wheat_Minion.png">
                        </div>
                        <div class="column">
                           <h1 class="is-size-4">Wheat Minion</h1>
                           <h1 class="is-size-6">Produces Wheat. Works offline</h1>
                           <br>
                           <div class="crafting-wrapper">
                              <div id="grid">
                                  <div class='gridCell' id="craftTable-0">
                                      <img src="https://gamepedia.cursecdn.com/minecraft_gamepedia/e/e2/Wheat.png"><p class="item-number">64</p>
                                  </div>
                                  <div class='gridCell' id="craftTable-1">
                                      <img src="https://gamepedia.cursecdn.com/minecraft_gamepedia/e/e2/Wheat.png"><p class="item-number">64</p>
                                  </div>
                                  <div class='gridCell' id="craftTable-2"></div>
                                  <div class='gridCell' id="craftTable-3"></div>
                                  <div class='gridCell' id="craftTable-4"></div>
                                  <div class='gridCell' id="craftTable-5"></div>
                                  <div class='gridCell' id="craftTable-6"></div>
                                  <div class='gridCell' id="craftTable-7"></div>
                                  <div class='gridCell' id="craftTable-8"></div>
                               </div>
                              </div><br>
                              <p class="label">Rarity: <span class="common">Common</span></p>
                              <p class="label second">Abilites: <span class="common">none</span></p>
                              <p class="label second">Needs <B>50</B> Wheat to unlock</p>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>