.menu-label,.menu-list li a{
  color:white !important;
}
.menu-list li a:hover:not(.is-active){
  color:black !important;
}
nav.breadcrumb .fas{
  color:white !important;
}
nav a{
  color:white !important;
}
.item-wrapper{
  margin-top:100px;
  margin-left:10%;
  margin-right:10%;
  width:calc(100% - 20%);
  height:500px;
  background-color:hsla(0, 0%, 100%, 30%);
  border-radius: 10px; 
}
.item-picture{
  width:40%;
  height:100%;
  opacity: 100;

}
.outline{
  border: 1px solid green !important;
}
.item-picture img{
  margin-top:25%;
  border-radius: 25%;
  margin-left:25%;
  background-color:hsla(0, 0%, 100%, 40%);
  padding:20px;
}
.selector{
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
  width:100%;
  height:900px;
  background-position: center;
}
.selector-farm{
  background-image: url("./img/farming.png");
  background-repeat: no-repeat;
  width:100%;
  height:900px;
  background-position: center;
}
#selector-bg{
  background-color:white !important;
}
